<section [ngClass]="styles.section">
  <div class="container">
    <!-- <h2 [ngClass]="styles.title">{{ title }}</h2> -->
    <div [ngClass]="styles.container" (mouseenter)="stopAutoPlay()" (mouseleave)="startAutoPlay()">
      <div [ngClass]="styles.track" #carouselTrack>
        <div [ngClass]="styles.slide" *ngFor="let slide of slides; let i = index">
          <h3>{{ slide.header }}</h3>
          <h4>{{ slide.subHeader }}</h4>
          <p>{{ slide.description }}</p>
        </div>
      </div>
      <div class="carousel-dots" *ngIf="slides.length > 1">
        <span
          *ngFor="let slide of slides; let i = index"
          class="dot"
          [class.active]="i === currentSlide"
          (click)="goToSlide(i)"
        ></span>
      </div>
    </div>
  </div>
</section>
