.global-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#globe-container {
  width: 90vmin; /* Use viewport min to ensure it fits both width/height */
  height: 90vmin;
  max-width: 500px; /* Optional: set a max absolute size */
  max-height: 500px; /* Optional: set a max absolute size */
}

#globe-container svg {
  display: block;
  border: none;
  background-color: transparent;
}

:host ::ng-deep  .ocean {
  fill: rgb(150, 199, 240);
}

:host ::ng-deep  .country {
  fill: lightgray;
  stroke: #333;
  stroke-width: 0.5px;
}

:host ::ng-deep .country.india {
  fill: brown !important;
  stroke: #333;
  stroke-width: 0.5px;
}

