<div class="landing-container">
    <div class="breadcrumb">
        <a [routerLink]="['/dashboard']">Dashboard</a> / <a (click)="goBack()"  routerLinkActive="active-link">{{
            programData.state_name }}</a>  <span *ngIf="programData.district_name">/ {{ programData.district_name }}</span>
    </div>

    <div class="program-container">
        <div class="title">
            <div class="back-button" (click)="goBack()">
                <div class="back-icon">&#8592;</div>
            </div>
            <h2 class="label">{{ programData.name_of_the_program }}</h2>
        </div>

        <div class="content">
            <div class="program-model-container">
                <div>
                    <div class="program-section">
                        <h3>Program Overview</h3>
                        <p>{{ programData.about_the_program_objective }}</p>
                    </div>

                    <div class="info-section">
                        <div class="impact">
                            <h3>Intended Impact</h3>
                            <p [innerText]="impactText"
                                [ngStyle]="{'white-space': 'normal', 'word-wrap': 'break-word'}"></p>

                            <h3>Key Stakeholders</h3>
                            <p>{{ programData.stakeholders_doing_the_program }}</p>
                        </div>


                    </div>

                </div>

                <div class="indiactor-container">
                    <div class="indicator-card">
                        <div class="indicator-image">
                            <img src='./assets/icons/micro_improvement_initiated.svg'>
                        </div>
                        <div class="indicator-container">
                            <h5 class="indicator-value">Micro-Improvements Initiated</h5>
                            <p class="indicator-label">{{
                                programData.mi_inititated_from_the_program__total_no_of_mi_startedinprogresssubmitted_or_if_done_via_google_form_then_no_of_responses_submitted
                                }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3 *ngIf="displayImages.length">Gallery</h3>
            <section class="gallery-section" *ngIf="displayImages.length">
                <button class="arrow left" (click)="prevSlide()">&#10094;</button>
                <div class="gallery-container">
                    <div class="gallery-track" #galleryTrack>
                        <div class="gallery-slide" *ngFor="let img of displayImages">
                            <img [src]="img" alt="Gallery Image" />
                        </div>
                    </div>
                </div>
                <button class="arrow right" (click)="nextSlide()">&#10095;</button>
            </section>
            <h3 *ngIf="partnerDetails">Partners</h3>
            <div *ngIf="partnerDetails" class="partners">
                <div class="partners-grid">
                    <div class="partner-card" *ngFor="let partner of partnerDetails">

                        <!-- Partner Logo -->
                        <img [src]="partner.src" [alt]="partner.alt" class="partner-logo" />

                        <!-- Partner Name -->
                        <h5 class="partner-name">{{ partner.name }}</h5>

                        <!-- Know More Link -->
                        <a [href]="partner.website" target="_blank" rel="noopener noreferrer" class="know-more-btn">
                            Know more →
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>