.filter-buttons {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}

h2 {
  margin-top: 3rem;
}

.filter-buttons button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button.active {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.scroller__inner li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.scroller__inner p {
  margin: 0;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 100s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partner-logo {
  max-width: 100px;
  height: 100px;
  transition: filter 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

.scroller[data-animated="true"] .scroller__inner:hover { /* pause the scroll whenever your mouse is over the scrolling track. */
  animation-play-state: paused;
}
