.filter-buttons {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h2 {
  margin-top: 3rem;
}

.filter-buttons button {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  background-color: #fef7ff;
  border: 0px;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button.active {
  background-color: var(--primary-color);
  color: white;
  border: 0px;
}

button:focus{
  outline: none;
}

.scroller {
  max-width: 100%;
  overflow: hidden;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  width: max-content;

  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroller__inner li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.scroller__inner p {
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroller__inner:hover {
  animation-play-state: paused;
}

.scroller__inner img {
  width: 120px;
  height: 80px;
  object-fit: contain;
  display: block;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.partners-section {
  padding: 0 8rem;
}

.partners-section h2 {
  font-weight: bolder;
}

.partner-name {
  text-align: center;
  font-weight: bold;
}

.partner-type {
  font-size: 12px;
}

@media (max-width: 768px){
  .partners-section{
    padding: 0 2rem;
}
}

.filter-buttons button img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
  transition: filter 0.3s ease;
}

.filter-buttons button.active img {
  filter: brightness(0) invert(1);
}
