.global-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map-container svg {
  display: block;
  border: none;
  background-color: transparent;
}

.country.india {
  fill: #ff5722; /* Or any color you prefer */
}

.country {
  transition: fill 0.2s ease;
}

#map-container {
  width: 100%;
  height: 100%;
}