<div class="carousel-wrapper">
    <div class="side-header">
      Hear from our <br /> partners
    </div>

    <div class="carousel-container">
      <button class="nav left" (click)="prevSlide()">
        &#10094;
      </button>

      <div class="carousel">
        <div class="carousel-track" [style.transform]="getTransform()">
          <div class="carousel-slide" *ngFor="let slide of slides">
            <div class="card">
              <div class="quote">❝</div>
              <p class="message">{{ slide.message }}</p>
              <div class="footer">
                <div class="avatar">👤</div>
                <div class="details">
                  <div class="name">{{ slide.name }}</div>
                  <div class="org">{{ slide.org }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="nav right" (click)="nextSlide()">
        &#10095;
      </button>
    </div>
  </div>
