<div class="carousel-wrapper">
  <div class="side-header">
    Hear from our <br /> partners
  </div>

  <div class="carousel-container" #carousel>
    <button class="nav left" (click)="prevSlide()">&#10094;</button>

    <div class="carousel">
      <div class="carousel-track" #carouselTrack [style.transform]="getTransform()">
        <div class="carousel-slide" *ngFor="let slide of slides; let i = index">
          <div class="card" [style.--cardColor]="colors[i % colors.length]">
            <div class="message-container">
              <div class="quote" [style.color]="colors[i % colors.length]">❝</div>
              <p class="message">{{ slide.message }}</p>
            </div>

            <!-- Wave shape -->
            <!-- <div class="wave"></div> -->
            <div class="wave">
              <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                <path d="M0,50 C150,100 350,0 500,50 L500,150 L0,150 Z" fill="currentColor"></path>
              </svg>
            </div>

            <!-- Avatar -->
            <div class="avatar">👤</div>

            <!-- Details -->
            <div class="details">
              <div class="name">{{ slide.name }}</div>
              <div class="org">{{ slide.designation }}</div>
              <div class="org">{{ slide.org }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="nav right" (click)="nextSlide()">&#10095;</button>
  </div>
</div>