.catalysing-networks-container {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

#network-map-container {
  width: 90%;
  position: relative;
  height: 0;
  padding-bottom: 50%; /* Aspect ratio 2:1, adjust as needed */
}

#network-map-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  border: 1px solid black;
  background-color: #f9f9f9;
}

.network-line[stroke-dasharray="10,10"] {
  animation: dash 10s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -200;
  }
}

@media (min-width: 1020px) {
  .catalysing-networks-container {
    flex-direction: row;
  }
}

#tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#tooltip li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#tooltip li img {
  margin-right: 10px;
}

.legend {
    padding: 16px;
    width: fit-content;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10%;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: black;
}

.legend-line {
  width: 20px;
  height: 0;
  margin-right: 8px;
  border-top: 2px dashed;
}

.momentum-line {
  border-color: #1a73e8;
}

.strategy-line {
  border-color: #1aaf5d;
}

.legend-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

.momentum-circle {
  background-color: #1a73e8;
}

.strategy-circle {
  background-color: #1aaf5d;
}

.legend-inner {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.legend-note {
  font-size: 12px;
  color: #6c6c6c;
  margin-top: 8px;
}

.map-note{
  font-size: 12px;
  color: #6c6c6c;
  margin-top: 8px;
  display: flex;
  flex-direction: column-reverse;
}