
<div class="catalysing-networks-container" (click)="goToNetworkPage()">
  <div class="legend" *ngIf="showDetails">
    <!-- Momentum Impact -->
    <!-- <div class="legend-item">
      <div class="legend-line momentum-line"></div>
      <span>Momentum Impact</span>
    </div> -->
  
    <!-- Strategy Impact -->
    <div class="legend-item">
      <div class="legend-line strategy-line"></div>
      <span>Strategy Impact</span>
    </div>
  
    <!-- Momentum Partners -->
    <div class="legend-item">
      <div class="legend-circle">
        <img  class="legend-circle"src="./assets/marker-icons/momentum-partners.svg" alt="">
      </div>
      <span>Momentum Partners</span>
    </div>
  
    <!-- Strategic Partners -->
    <div class="legend-item">
      <div class="legend-circle">
         <img  class="legend-circle" src="./assets/marker-icons/strategic-partners.svg" alt="">
      </div>
      <span>Strategic Partners</span>
    </div>
  
    <!-- Note -->
    <div class="legend-note">
      *Click on the state to explore further
      <br>
      For illustration purposes only
    </div>
  </div>
  <div id="network-map-container" #networkMapContainer class="catalysing-networks-svg"></div>
  <div id="tooltip"
    style="position: absolute; display: none;"></div>


     <div class="map-note" *ngIf="!showDetails">
     <p><i>*Click on the map to see our network</i></p>
    </div>

   
</div>


