.global-map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  background-color: #ffffff;
}

#map-container-2 {
  width: 90%;
  height: 100%;
  margin: 0;
}

#map-container-2 svg {
  display: block;
  border: none;
  background-color: #f0f8ff;
}

.country {
  stroke: #fff;
  stroke-width: 0.5;
}

.country.india {
  fill: #add8e6;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

