.state-view-container {
    padding: 4rem 8rem;
    background: #e6f6fe!important;
    display: flex;
    flex-direction: row;
  }
  
  .legend-container {
    background-color: #e8f5ff;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    min-width: 200px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .color-box {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #999;
    min-width: 20px;
  }
  
  .both {
    background-color: #4b2e83;
  }
  
  .state {
    background-color: #6a3fb2;
  }
  
  .district {
    background-color: #9b6fc6;
  }
  
  .yet {
    background-color: #ffffff;
    border: 1px solid #999;
  }
  
  .note {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
  }
  
  #state-map-container {
    width: 100%;
    position: relative;
    flex: 4;
  }
  
  #state-map-container svg {
    background-color: #f9f9f9;
  }
  
  .map-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: rgb(254, 254, 254);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
  }
  
  .indicator-container{
    flex: 2;
  }
  
  .indicator-container .heading{
    margin-left: 8px;
    font-size: 18px;
  }
  
  .indicator-container .indicators{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .indicator-container .heading{
    margin-left: 8px;
    font-size: 18px;
  }
  
  .filter-selection{
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    flex: 1;
  }
  
  @media (max-width: 1250px){
    .state-view-container {
      flex-direction: column-reverse;
    }
  
    #state-map-container {
      margin-top: 20px;
    }
  }