<div class="country-view-container">
  <div class="legend-container">
    <div class="legend-item">
      <div class="color-box both"></div>
      <span>State and District led missions</span>
    </div>
    <div class="legend-item">
      <div class="color-box state"></div>
      <span>State led missions</span>
    </div>
    <div class="legend-item">
      <div class="color-box district"></div>
      <span>District led missions</span>
    </div>
    <div class="legend-item">
      <div class="color-box yet"></div>
      <span>Yet to start</span>
    </div>
    <div *ngIf="!showDetails"  class="note">*Click on the map to access the main dashboard</div>
    <div *ngIf="showDetails" class="note">*Click on a state to view detailed insights</div>
    <div *ngIf="showDetails"  class="note">*Data as shared by the partners</div>
    <!-- <div *ngIf="notes.length > 0">
      <div class="note" *ngFor="let note of notes">*{{note}}</div>
    </div> -->
    <!-- <div class="legend-item" *ngFor="let legend of legends">
      <div class="color-box both"></div>
      <span>{{legend.label}}</span>
    </div> -->
  </div>
  <div id="india-map-container" #indiaMapContainer></div>
  <div id="map-tooltip" class="map-tooltip"></div>
  @if(showDetails){
    <div class="indicator-container">
      <h4 class="heading">India {{hoveredState ? ( '> '+hoveredState ) : ""}}</h4>
      <div class="indicators">
        <app-mini-indicator-card *ngFor="let indicator of indicatorData" [value]="indicator.value" [label]="indicator.label"></app-mini-indicator-card>
      </div>
    </div>
  }
  @if(showVariations){
    <div class="filter-selection">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedIndicator">
          <mat-option [value]="option.value" *ngFor="let option of selections" >{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  }
</div>
