<div class="country-view-container">
  <div class="legend-container">
    @for(data of displayLegends; track $index){
      <div class="legend-item">
        <div class="color-box" [ngStyle]="{'background-color': data.color}"></div>
        <span>{{ data.label }}</span>
      </div>
    }

    @for(note of notes; track $index){
      <div class="note">*{{ note }}</div>
    }
  </div>
  <div id="india-map-container" #indiaMapContainer></div>
  <div id="map-tooltip" class="map-tooltip"></div>
  @if(showDetails){
    <div class="indicator-container">
      <h4 class="heading">India {{hoveredState ? ( '> '+hoveredState ) : ""}}</h4>
      <div class="indicators row">
        <app-mini-indicator-card *ngFor="let indicator of indicatorData" [value]="indicator.value" [label]="indicator.label" class="col-sm-6"></app-mini-indicator-card>
      </div>
    </div>
  }
  @if(showVariations){
    <div class="filter-selection">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedIndicator">
          <mat-option [value]="option.value" *ngFor="let option of selections" >{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  }
</div>
