<div class="country-view-container">
  <div class="main-container">
    <div class="legend-container">
  <div class="legend-item">
    <div class="color-box both"></div>
    <span>State and District led missions</span>
  </div>
  <div class="legend-item">
    <div class="color-box state"></div>
    <span>State led missions</span>
  </div>
  <div class="legend-item">
    <div class="color-box district"></div>
    <span>District led missions</span>
  </div>
  <div class="legend-item">
    <div class="color-box yet"></div>
    <span>Yet to start</span>
  </div>
  <div class="note">
    *Click on the map to access the main dashboard
  </div>
</div>


    <div id="india-map-container" #indiaMapContainer></div>
    <div id="map-tooltip" class="map-tooltip"></div>
    <div class="indicator-container" *ngIf="showDetails">
      <div class="indicators">
        <h4>Details</h4>
        <app-mini-indicator-card *ngFor="let indicator of indicatorData" [value]="indicator.value" [label]="indicator.label"></app-mini-indicator-card>
      </div>
    </div>
    <div *ngIf="showVariations" class="filter-selection">
      <mat-form-field>
        <!-- <mat-label>Select</mat-label> -->
        <mat-select [(ngModel)]="selectedIndicator">
          <mat-option [value]="option.value" *ngFor="let option of selections" >{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

