.mini-indicator-card {
  background: white;
  border: 1px solid #aeb6ba;
  border-radius: 12px; /* Slightly more rounded corners */
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* More prominent shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin: 5px;
  max-width: 160px;
  min-height: 70px;
}

.mini-indicator-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.mini-indicator-value {
  font-size: 16px; /* Larger font size */
  font-weight: bold;
  color: var(--secondary-color-light); /* Subtle text shadow */
}

.mini-indicator-label {
  font-size: 12px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8); /* Slightly transparent white for label */
  margin-top: 0.1rem;
  line-height: 1.2;
  color: black;
  padding: 0 5px;
}
