<section class="outer-container">
  <mat-card class="chart-card">
    <mat-card-title>Categories of Micro Improvements</mat-card-title>
    <mat-card-content>
      <ngx-charts-pie-chart
        [results]="pieData"
        [legend]="showLegend"
        [labels]="showLabels"
        [doughnut]="true"
        [arcWidth]="0.4"
        [explodeSlices]="false"
        [animations]="true"
        [labelFormatting]="labelFormatting"
        [scheme]="colorScheme"
        [gradient]="false"
        [tooltipText]="tooltipText"
      >
      </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
</section>
